<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Page</title>
    <link rel="stylesheet" href="../static/css/mystyle.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="container2">
            <div class="form">
                <form action="/view2" method="POST" autocapitalize="off">
                    <div class="form-group">
                        <label for="sid">Enter The ID :</label>
                        <input type="number" name="sid" id="sid" placeholder="Search By ID">
                        <input type="submit" value="'Search" class="btn btn-warning">
                    </div>
                </form>
            </div>
        </div>
        <div class="justify-content-center" id="s3">
            <a href="/" class="btn btn-primary" id="s3">Add Employees </a>
        
        </div>
        

    </div>
    
</body>
</html>